.Work-exp-container{
    background-color: #FFF;
    padding-top: 3%;
    margin:auto 0;
}
.heading{
    margin: 2% 6%;
}
.heading h2{
    font-size: 20px;
}
.heading p{
    font-size: 16px;
    font-weight: 400;

}
.content-box{
    width: 100%;
   font-size: 20px;
   margin: 4% 0;
}
.content{
    width: 50%;
    margin-left:13%; 
}
.content h3{
    font-size: 20px;
}
.content h4{
    font-size: 16px;
}
.content-description{
    font-weight: 300;
    color: #676565;
    font-size: 16px;
}
hr.line{
    border-top: 1px solid  #AAAAAA;
    margin: 0 5%;
}
