.Work-exp-container{
    background-color: #FFF;
    padding-top: 3%;
    margin:auto 0;
}
.heading{
    margin: 2% 5%;
}
.heading h2{
    font-size: 34px;
}
.heading p{
    font-size: 24px;
    font-weight: 400;

}
.content-box{
    width: 100%;
   font-size: 20px;
   margin: 4% 0;
}
.content{
    width: 50%;
    margin-left:13%; 
    /* margin: 0 auto; */
}
.content-description{
    font-weight: 200;
    color: #676565;
}
