.contact-container{
    background-color: white;
    padding: 2% 0;
}
.contact-heading{
    margin: 2% 5%;
    font-size: 25px;
}
.first-btn-section{
    display: flex;
}
.second-btn-section{
    display: flex;
}
.contact-text{
    font-size: 20px;
}
.contact-buttons{
    margin-left: 13%;
}