.header{
    background-color: black;
     margin: 2.1% 6%; 
    padding-bottom: 6%; 
    display: flex;
    justify-content: space-between;
}
.header-container{
color: white;
margin:0 0 0 3%;
padding-top: 4%;
}

.text{
    width: 70%;
    font-size:20px;
    line-height: 30px;
    font-weight:400;
}
.creativity{
    font-weight: 700;
}
.buttons{
    display: flex;
    width: 100%;
    margin-top:6%;
    gap: 5%;
}

.btn-grad {
      width: 163px;
       margin-right:10px;
       padding: 20px 15px;
       text-align: center;
       background-color: black;
       color: white;             
       display: block;
       border: solid 1px #fff;
}    



    