.recommendation-container{
    padding: 2%;
    margin: 0 auto;
    position: relative;
}
.reco-heading{
    margin: 2% 5%;
    color: white;
    font-size: 20px;
}
.recommendation{
    color:white;
    width: 1057px;
    margin: 3% auto;
    border: 1px solid white;

}
.profile-image{
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin: auto 2%;
}
.profile{
    display:flex;
    padding: 3% 0;
}

.reco-text{
    font-size: 16px;
    padding: 4% 4%;
    font-weight: 300;
}
.profile-name{
    font-weight: 500;
    font-size:16px;
    padding-bottom:8%;
    
}
.profile-occupation{
    font-weight: 300;
    font-size: 16px;
    margin-top: -25px;
}